.Header {
  width: 100%;
  height: 60px;
  background-color: #6ba6e7;
  display: flex;
  justify-content: space-between; /* LogoとTitleの間に空間を作り、Logoを左に、Titleを右に配置します */
  align-items: center;
}

.Title {
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  text-align: center; /* タイトルを中央揃えにします */
  flex-grow: 1; /* タイトルが残りのスペースを占有できるようにします */
}

.Main {
  width: 100%;
  padding-top: 12px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 32px;
  background-color: #eee;
}

.Section {
  margin-top: 20px;
  width: 100%;
  height: 400px;
  background-color: lightgreen;
}

.Button {
  width: 120px;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6ba6e7;
  color: #fff;
}

.Modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
  margin: auto;
  width: 400px;
  height: 200px;
  padding: 32px;
  color: #fff;
  background-color: #6ba6e7;

  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.ModalIsOpen {
  visibility: visible;
  opacity: 1;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);

  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.OverlayIsOpen {
  visibility: visible;
  opacity: 1;
}
